<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notification</title>
</head>
<body>
<form action="#" th:action="@{/send}" th:object="${model}" method="post">
    <table>
        <tr>
            <td><label for="notificationType">Notification Type</label></td>
            <td><input th:field="*{notificationType}" id="notificationType" type="text" name="notificationType"></input></td>
        </tr>
        <tr>
            <td><label for="recipient">recipient</label></td>
            <td><input th:field="*{recipient}" id="recipient" type="text" name="recipient"></input></td>
        </tr>
        <tr>
            <td><label for="message">message</label></td>
            <td><input th:field="*{message}" id="message" type="text" name="message"></input></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></input></td>
            <td><input type="reset"  value="Clear"/></td>
        </tr>
    </table>
</form>
</body>
</html>